@model UserProfile

@{
    ViewData["Title"] = "Tom Smith profile page";
}

<h1>Profile Page</h1>

<div>
    <h4>UserProfile</h4>
    <hr />
    <p>
        <a class="btn btn-primary" data-bs-toggle="collapse" href="#multiCollapseExample1" role="button" aria-expanded="false" aria-controls="multiCollapseExample1">Show user name</a>
        <button class="btn btn-primary" type="button" data-bs-toggle="collapse" data-bs-target="#multiCollapseExample2" aria-expanded="false" aria-controls="multiCollapseExample2">Show contact information</button>
        <button class="btn btn-primary" type="button" data-bs-toggle="collapse" data-bs-target="#multiCollapseExample3" aria-expanded="false" aria-controls="multiCollapseExample2">Show user skills</button>
        <button class="btn btn-primary" type="button" data-bs-toggle="collapse" data-bs-target=".multi-collapse" aria-expanded="false" aria-controls="multiCollapseExample1 multiCollapseExample2 multiCollapseExample3">Show all information</button>
    </p>
    <div >
        <div class="col">
            <div class="collapse multi-collapse" id="multiCollapseExample1">
                <dl class="row">
                    
                        <dt class="col-sm-2">
                            @Html.DisplayNameFor(model => model.UserProfileId)
                        </dt>
                        <dd class="col-sm-10">
                            @Model.UserProfileId
                        </dd>
                        <dt class="col-sm-2">
                            @Html.DisplayNameFor(model => model.FullName)
                        </dt>
                        <dd class="col-sm-10">
                            @Model.FullName
                        </dd>
                        <dt class="col-sm-2">
                            @Html.DisplayNameFor(model => model.ImageUrl)
                        </dt>
                        <dd class="col-sm-10">
                            <img src=@Model.ImageUrl" />
                        </dd>
                    
                </dl>
            </div>
        </div>
        <div class="col">
            <div class="collapse multi-collapse" id="multiCollapseExample2">
                <dl class="row">
                    

                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.Email)
                    </dt>
                    <dd class="col-sm-10">
                        @Model.Email
                    </dd>
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.PhoneNumber)
                    </dt>
                    <dd class="col-sm-10">
                        @Model.PhoneNumber
                    </dd>
                   
                </dl>
            </div>
        </div>
        <div class="col">
            <div class="collapse multi-collapse" id="multiCollapseExample3">
                <div class="row">
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.GitHubUrl)
                    </dt>
                    <dd class="col-sm-10">
                        <a target="_blank" href="@Model.GitHubUrl">Go to GitHub Page</a>
                    </dd>
                    <dt>Skilled Languages</dt>
                    <dd>
                        <ul>
                        @foreach (string languageSkill in Model.SkilledLanguages)
                        {
                                <li>@languageSkill</li>
                        }
                        </ul>
                    </dd>
                </div>
            </div>
        </div>
    </div>
</div>
